# Python
.venv/
__pycache__/
*.pyc

# Node / front-end (nếu có)
node_modules/
dist/
build/

# Docker/Compose
*.log
*.pid
*.seed
*~ 
.env
.env.*

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Misc
*.tar.gz
*.zip
